{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />{% endblock stylesheets %}
{% block scripts %}

<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

{% endblock scripts %}
{% block content %}

<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>
  <div class="masonry-item w-100">
    <h1>Mumbai</h1>
    <div class="row gap-20">
      <!-- #Confirmed ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Confirmed</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer">
                <div class="peer peer-greed">


                  <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple c-purple-500">3,323</span>
                  <span id="sparklinedash2"></span>

                  <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">~12%</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- #Recovered ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Recovered</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">

              <div class="peer">
                <div class="peer peer-greed">
                  <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green c-green-500">331</span>

                  <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span>
                  <span id="sparklinedash"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- #Deaths ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Deaths</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">


              <div class="peer peer-greed">
                <div class="peer">

                  <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">201</span>

                  <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">-7%</span>
                  <span id="sparklinedash4"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- #Fatality rate ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Fatality rate</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash3"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">~5%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-12">
    <!-- #Site Visits ==================== -->
    <div class="bd bgc-white">
      <div class="peers fxw-nw@lg+ ai-s">
        <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
          <div class="layers">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Heat Map</h6>
            </div>
            <div class="layer w-100">
              <div id='map' style='width: 100; height: 500px;'></div>
              <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoibmVlbHBhcmloYXIiLCJhIjoiY2s5NWZ1bDZjMDY3NTNtcjFpdjZ4bnhmdiJ9.ZzFeFsBaPwQ42F1frkzrmA';
                var map = new mapboxgl.Map({
                  container: 'map',
                  style: 'mapbox://styles/mapbox/streets-v10',
                  center: [72.87742, 19.07609],
                  zoom: 9
                });
                var hoveredStateId = null;
                map.on('load', function () {
                  // Add a source for the state polygons.
                  map.addSource('wards', {
                    'type': 'geojson',
                    'data': '/static/assets/static/jsondata/BMC_Wards.geojson'
                  });
                  map.addLayer({
                    'id': 'state-fills',
                    'type': 'fill',
                    'source': 'wards',
                    'layout': {},
                    'paint': {
                      'fill-color': '#FFFFFF',
                      'fill-opacity': 0.1
                    }
                  });
                  




                  // The function returns the product of p1 and p2

                  map.addLayer({
                    'id': 'state-borders',
                    'type': 'line',
                    'source': 'wards',
                    'layout': {},
                    'paint': {
                      'line-color': '#000000',
                      'line-width': 1
                    }
                  });

                  map.on('click', 'state-fills', function (e) {
                    new mapboxgl.Popup()
                      .setLngLat(e.lngLat)
                      .setHTML(e.features[0].properties.name)
                      .addTo(map);
                  });

                  // Change the cursor to a pointer when the mouse is over the states layer.
                  map.on('mouseenter', 'state-fills', function () {
                    map.getCanvas().style.cursor = 'pointer';
                  });

                  // Change it back to a pointer when it leaves.
                  map.on('mouseleave', 'state-fills', function () {
                    map.getCanvas().style.cursor = '';
                  });
                  map.addSource('heatjson', {
                    'type': 'geojson',
                    'data':
                      '/static/assets/static/jsondata/BMC_Wards.geojson'
                  });

                  map.addLayer(
                    {
                      'id': 'heat',
                      'type': 'heatmap',
                      'source': 'heatjson',
                      'maxzoom': 20,
                      'paint': {
                        // Increase the heatmap weight based on frequency and property magnitude
                        // Increase the heatmap weight based on frequency and property magnitude
                        'heatmap-weight': [
                          'interpolate',
                          ['linear'],
                          ['get', 'zone'],
                          0,
                          0,
                          5,
                          1
                        ],
                        // Increase the heatmap color weight weight by zoom level
                        // heatmap-intensity is a multiplier on top of heatmap-weight
                        'heatmap-intensity': [
                          'interpolate',
                          ['linear'],
                          ['zoom'],
                          0,
                          1,
                          9,
                          3
                        ],
                        // Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
                        // Begin color ramp at 0-stop with a 0-transparancy color
                        // to create a blur-like effect.
                        'heatmap-color': [
                          'interpolate',
                          ['linear'],
                          ['heatmap-density'],
                          0,
                          'rgb(0,255,0)',
                          0.2,
                          'rgb(0,0,255)',
                          0.4,
                          'rgb(209,229,240)',
                          0.6,
                          'rgb(255,100,0)',
                          0.8,
                          'rgb(255,100,0)',
                          1,
                          'rgb(255,0,0)'
                        ],
                        // Adjust the heatmap radius by zoom level
                        'heatmap-radius': [
                          'interpolate',
                          ['linear'],
                          ['zoom'],
                          0,
                          2,
                          9,
                          20
                        ]
                      }
                    },
                    'waterway-label'
                  );



                });
              </script>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <!-- #Monthly Stats ==================== -->
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Monthly Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <canvas id="line-chart" height="220"></canvas>
        </div>
        <div class="layer bdT p-20 w-100">
          <div class="peers ai-c jc-c gapX-20">
            <div class="peer">
              <span class="fsz-def fw-600 mR-10 c-grey-800">10% <i class="fa fa-level-up c-green-500"></i></span>
              <small class="c-grey-500 fw-600">APPL</small>
            </div>
            <div class="peer fw-600">
              <span class="fsz-def fw-600 mR-10 c-grey-800">2% <i class="fa fa-level-down c-red-500"></i></span>
              <small class="c-grey-500 fw-600">Average</small>
            </div>
            <div class="peer fw-600">
              <span class="fsz-def fw-600 mR-10 c-grey-800">15% <i class="fa fa-level-up c-green-500"></i></span>
              <small class="c-grey-500 fw-600">Sales</small>
            </div>
            <div class="peer fw-600">
              <span class="fsz-def fw-600 mR-10 c-grey-800">8% <i class="fa fa-level-down c-red-500"></i></span>
              <small class="c-grey-500 fw-600">Profit</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% endblock content %}